@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Poppins:wght@300;400;600&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: #000;

}
main {
    background-image: url(/assets/css/img/pokemon.jpg);
    background-size: cover;
    background-position: center;
}

.logo {
    padding: 15px 0 0 60px;
    color: rgb(248, 248, 248);
    font-size: 19px;
    color: white;
    display: flex;
}

.barra{
 justify-content: space-around;
}

.botoes {
    display: flex;
    gap: 20px;
}

.navegacao {
    width: 100%;
    display: flex;
    justify-content:center;
    top: 20px;
    left: 40px;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.navegacao a button {
    background-color:rgba(13, 153, 163, 0.636);
    border: none;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    border-radius: 8px;
}
.navegacao a button:hover {
    background-color: rgba(5, 102, 109, 0.844);
    font-size: 20px;
    color: white;
}

.conteudo {
    width: 100%;
    height: 95vh;
    display: flex;
    align-items: center;
    padding: 0 8%;
    color: white;
}

.conteudo {
    max-width: 550px;
}

.conteudo h1 {
    font-family: 'Luckiest Guy', cursive;
    font-size: 95px;
    line-height: 90px;
    margin-bottom: 250px;
    
}

